name: Purge PATs file

on:
  schedule:
    - cron: '0 0 */7 * *' # Every 7 days at 00:00

jobs:
  purge:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Fetch the entire history of the repository

      - name: Purge PATs file
        run: |
          git add -A
          git commit -m "Temp commit"
          git rm --cached PATs.md
          git commit -m "Delete PATs.md"
          git push -f origin main
